@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<QuanLyGiaoVu.Data.Thongtinchitietlophoc>

@{
    ViewData["Title"] = "ChiTietLH";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<form asp-action="ChiTietLH" method="get" class="my-2 bg-light rounded-2 p-2">
    <div class="form-group row">
        <div class="col-xl-6">
            <select class="form-control" asp-items="ViewBag.Malophoc" name="id">
                <option value="">-- Chọn lớp học --</option>
            </select>
        </div>
        <div class="col-xl-3">
            <button type="submit" class="btn btn-primary my-xl-0 my-2">Tìm kiếm</button>
        </div>
    </div>
</form>
<h4>Danh sách học viên</h4>
<div class="d-flex mb-2">
    <a asp-action="ThemHV"  class="btn btn-primary">Thêm học viên vào lớp</a>
</div>
<table class="table bg-light rounded-2 p-2 table-bordered">
    <thead>
        <tr>
            <th>
                Mã học viên
            </th>
            <th>
                Họ và tên học viên
            </th>
            <th>
                Tên lớp
            </th>
            <th>
                Giới tính
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MahocvienNavigation.Mahocvien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MahocvienNavigation.Hohv)
                @Html.DisplayFor(modelItem => item.MahocvienNavigation.Tenhv)
            </td>
                <td>
                    @(item.MalophocNavigation.Tenlophoc)
                </td>
            <td>
                    @(item.MahocvienNavigation.Gioitinh ? "Nam" : "Nữ")
            </td>
            <td class="d-flex" >
                    <a class="btn btn-primary me-2" asp-action="SuaHV" asp-route-id="@item.Stt">Sửa</a>
                    <form asp-action="XoaHv" method="post" class="delete-form">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="Stt" value="@item.Stt" />
                        <button type="submit" class="btn btn-primary">Xóa</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="flex-column align-items-end d-flex">
    @Html.PagedListPager(Model, page => Url.Action("ChiTietLH", new { page }), new X.PagedList.Web.Common.PagedListRenderOptions
{
    PageClasses = new[] { "page-link" },
    ClassToApplyToFirstListItemInPager = "page-item",
    ClassToApplyToLastListItemInPager = "page-item",
})
    <div class="">
        <a class="btn btn-primary" asp-action="ChiTietLH">Quay lại</a>
    </div>
</div>

<style>
    .custom-pagination {
        margin-top: 20px;
    }

    .page-item {
        margin: 0 5px;
    }

    .page-link {
        color: #007bff;
        background-color: #fff;
        border: 1px solid #ddd;
    }

        .page-link:hover {
            color: #0056b3;
            background-color: #f1f1f1;
            border-color: #ccc;
        }

</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $(".delete-form").on("submit", function(e) {
            var confirmed = confirm("Bạn có muốn xóa học viên này không?");
            if (!confirmed) {
                e.preventDefault(); 
            }
        });
    });
</script>